<ion-header>
  <ion-toolbar>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Username</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="dismissModalLogin()">Login</ion-button>
  <ion-button expand="full" (click)="dismissModalLogout()">Logout</ion-button>
</ion-content>
