<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Posts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="postMessage()">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-textarea [(ngModel)]="myInput" name="description"></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button ion-button type="submit" expand="block" size="large">Send</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-item-divider>
  </ion-item-divider>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <div class="item-note" slot="start">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
