<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/bird.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Una iniciativa de Seguridad de Software</ion-card-subtitle>
        <ion-card-title>Fans de las Aves Chilenas Mobile</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Este es el sitio de la comunidad de ornitólogos frustrados más grande de Chile. Sean todos bienvenidos.</p>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="openModal()">Open Modal</ion-button>
</ion-content>
